@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  height: auto;
  min-height: 100vh;
  width: auto;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(135deg, #01202a, #0d090d);
  color: #fff;
}

.heading h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

#addBtn {
  height: 40px;
  padding: 8px;
  cursor: pointer;
  width: 100px;
  border: 1px solid white;
  border-radius: 10px;
  color: #fff;
  background: transparent;
  font-weight: 500;
  transition: all ease-out 0.4s;
}

#addBtn i {
  margin-right: 2px;
}

#addBtn:hover {
  border: none;
  background: white;
  color: black;
}

#main {
  display: flex;
  flex-direction: row;
  padding: 50px 100px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  transition: all ease-in-out 0.5s;
}

.noteDiv {
  border: none;
  outline: none;
  border-radius: 10px;
  margin-top: 1.3rem;
  padding: 20px;
  background: linear-gradient(135deg, #010101, #000);
  height: 350px;
  width: 350px;
  max-width: 350px;
  flex-shrink: 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.noteDiv:hover {
  /* background: #04010f; */
  opacity: 0.8;
}

.edit {
  font-size: 1.1rem;
  padding: 8px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  border-radius: 8px;
  font-weight: 500;
  transition: all ease-out 0.3s;
  opacity: 1;
}

.delete {
  font-size: 1.1rem;
  padding: 8px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 8px;
  color: #fff;
  background: transparent;
  font-weight: 500;
  transition: all ease-out 0.3s;
  opacity: 1;
}

.edit:hover,
.delete:hover {
  color: #00ffcc;
  transform: scale(1.1);
  transition: 0.2s ease;
}

.note {
  border: none;
  outline: none;
  border-radius: 8px;
  font-weight: 600;
  height: 240px;
  padding: 20px;
  width: 100%;
  font-size: 1.1rem;
  outline: none;
  background: linear-gradient(135deg, #01202a, #0d090d);
  color: rgb(255, 255, 255);
  resize: none;
}

.note::placeholder {
  color: #aaa;
}

.note-header {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  margin-bottom: 10px;
}

@media (min-width: 300px) and (max-width: 420px) {
  #main {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .noteDiv {
    border-radius: 10px;
    margin-top: 1rem;
    padding: 15px;
    height: 320px;
    width: 320px;
    max-width: 350px;
  }

  .heading h1 {
    font-size: 2rem;
  }
  #addBtn {
    height: 30px;
    width: 80px;
    font-size: 10px;
  }

  #addBtn i {
    margin-right: 2px;
  }
}
